@font-face {
    font-family: "Matemasie";
    src: url("fonts/Matemasie-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aladin";
  src: url("fonts/Aladin-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Combo";
    src: url("fonts/Combo-Regular.ttf") format("truetype");
}

body{
    /* background-image: url('https://images.pexels.com/photos/9176085/pexels-photo-9176085.jpeg'); */
    background-color: #1A1D1A;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

header h1 {
    font-family: "Matemasie";
    color: darkolivegreen;
    letter-spacing: 4px;
    font-size: 50px;
}

header h3 {
    color: darkolivegreen;
    font-family: "Combo";
    margin-top: 2px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.forms label{
    color: #f3edea;
    font-family: "Combo";
    margin-bottom: 40px;
    font-size: 30px;
}

.gender-section{
    margin: 30px;
}

input[type="radio"]{
    accent-color: brown;
}

input[type="radio"]:checked + label{
    color: brown;
}

#dateOfBirth{
    height: 30px;
    background-color: white;
    color: darkolivegreen;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: "Aladin";
    text-align: center;
    font-size: 13px;
}

.male-female{
    margin-top: 10px;
}

.male-female label{
    font-size: 23px;
}

.male-female label:hover{
    cursor: pointer;
    color: brown;
}

.submit-button{
    color: white;
    background-color: darkolivegreen;
    width: 80px;
    height: 30px;
    font-family: "Aladin";
    font-size: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.submit-button:hover{
    color: darkolivegreen;
    background-color: white;
    cursor: pointer;
}

.hideForms{
    display: none;
}

#result{
    text-align: center;
    font-family: "Aladin";
    font-size: 40px;
    color: white;
    margin-top: 70px;
}

@media (max-width: 830px) {
    header h1{
        font-size: 40px;
        text-align: center;
    }
}

@media(max-width: 350px){
    header h1{
        font-size: 20px;
    }
}